<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增receiveInfo')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-receiveInfo-add">
            <div class="form-group">
                <label class="col-sm-3 control-label">类别：</label>
                <div class="col-sm-8">
                    <select required class="form-control" id="categoryName" name="categoryId" onchange="cplb()">
                        <option value="" data-id="0">请选择</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">物品名称：</label>
                <div class="col-sm-8">
                    <select required class="form-control" id="projectid" name="brandId">
                        <option value="" data-id="0">请选择</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">存入人：</label>
                <div class="col-sm-8">
                    <input name="receiveBy" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">存入时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="receiveTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">存入数量：</label>
                <div class="col-sm-8">
                    <input name="receiveNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">存入来源：</label>
                <div class="col-sm-8">
                    <input name="receiveTo" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "project/receiveInfo"
        $(function () {
            var aurl = "../category/allList";
            $.ajax({
                type: 'POST',//请求方式：post
                url: aurl,//请求的action路径
                error: function (XMLHttpRequest, textStatus, errorThrown) {
//请求失败处理函数
                    alert('获取类别信息失败');
                },
                success: function (data) {
                    var k = data.data;
                    console.log(k)
                    console.log(data)
                    $("#categoryName").empty();//进入页面首先清空类别的下拉列表内容
                    $("#categoryName").append("<option value= '' data-id='0'>请选择</option>")//为类别先添加一个请选择
                    for (var i = 0; i < k.length; i++) {//循环从后台查出来的数据,逐条填入类别的下拉中。
                        $("#categoryName").append("<option value='" + k[i].id + "' data-id='" + k[i].name + "'>" + k[i].name + "</option>");
                        // $("#categoryName").append("<option value='" + k[i].id + "' data-id='" + k[i].id + "'>" + k[i].cname + "</option>");
                    }
                }
            });
        })

        //改变类别的值
        function cplb() {
            console.log("sucess==")
            $("#projectid").empty();//每次修改类别的值的时候，清空物品名称的下拉内容
            $("#projectid").append("<option value= '' data-id='0'>请选择</option>")
            $("#questionselect").empty();//每次修类别的值的时候，清空物品的下拉内容
            $("#questionselect").append("<option value= '' data-id='0'>请选择</option>")
            var categoryId = $("#categoryName").val();
            var aurl = "../brand/listByCategoryId";
            $.ajax({
                type: 'POST',//请求方式：post
                url: aurl,//请求的action路径
                data: {categoryId:categoryId},
                dataType: 'json',//数据传输格式：json
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //请求失败处理函数
                    alert('获取物品失败');
                },
                success: function (data) {
                    var k = data.data;
                    console.log(k)
                    console.log(data)
                    for (var i = 0; i < k.length; i++) {
                        $("#projectid").append("<option value='" + k[i].id + "' data-id='" + k[i].id + "'>" + k[i].name + "</option>");
                    }
                }
            });
        }
        $("#form-receiveInfo-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-receiveInfo-add').serialize());
            }
        }

        $("input[name='receiveTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>