<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改takeInfo')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-takeInfo-edit" th:object="${tbTakeInfo}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">物品名称：</label>
                <div class="col-sm-8">
                    <input name="brandName" th:field="*{brandName}" class="form-control" type="text" readonly="readonly">
<!--                    <select name="brandId" class="form-control" readonly="readonly" th:with="type=${@brandService.selectTbBrandList(null)}" >-->
<!--                        <option th:each="brand : ${type}" th:text="${brand.name}" th:value="${brand.id}" th:selected = "${brand.id eq nowid}" ></option>-->
<!--                    </select>-->
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">领走人：</label>
                <div class="col-sm-8">
                    <input name="takeBy" th:field="*{takeBy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">领走时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="takeTime" th:value="${#dates.format(tbTakeInfo.takeTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">领走数量：</label>
                <div class="col-sm-8">
                    <input name="takeNum" th:field="*{takeNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">流向：</label>
                <div class="col-sm-8">
                    <input name="takeTo" th:field="*{takeTo}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control">[[*{remark}]]</textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "project/takeInfo";
        $("#form-takeInfo-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-takeInfo-edit').serialize());
            }
        }

        $("input[name='takeTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>